.search{
    background-color: #F652A0;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.search_container{
    display: flex;
    gap: 0.5rem;
}

.search_container input, 
.search_container button {
    padding: .6rem;
    border-radius: 3px;
    border: none;
    color: #4C5270;
}

.search_container button {
    background-color: #4C5270;
    cursor: pointer;
}