*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  color: #f2f2f2;
}

body{
  background-color: #4C5270;
  padding: 2rem;
}

p{
  text-align: center;
}

a{
  text-decoration: none;
}